<div class="container" id="container" style="padding-top: 100px;">
    <div class="jumbotron">
    <div class="well well-sm" id="pagename">
    <h2 style="color: white;">Seach User</h2>
    </div><br>
    <div class="container">
               
        <form>
            <h4><label>Select Role:</label></h4>
        <div class="l-10 form-check form-check-inline">            
            <label class="form-check-label" for="radio1">
              <input type="radio" [(ngModel)]="role" class="form-check-input" id="radio1" name="optradio" value="Learner" checked> Learner     
            </label>            
            <label class="form-check-label" for="radio2">
              <input type="radio" [(ngModel)]="role" class="form-check-input" id="radio2" name="optradio" value="Vendor"> Vendor
            </label>
          </div>
          <br>

          <div class="form-group">
            <input class="btn btn-success" ng-disabled="regForm.$invalid" type="submit" name="submit_reg" value="Search" (click)="onSubmit()">
        </div>
        </form>
        
        <!-- <div *ngfor="let role of roles">
              <input 
                type="radio"
                   name="roleofUser"
                    value="{{role}}"
                 (change)="radioChangeHandler($event)"
                >
             <i>{{role}}</i>                            
         </div>  -->
        


        <br>
          
    </div>               
          
    
    <div>
      <ul class="nav nav-pills nav-stacked anyClass">
        <table class="table table-striped">
        <thead>
        <tr>
             
            <th>User Id</th>
            <th>Name</th>
            <th>Email</th>
            <!-- <th>Password</th> -->
            <!-- <th>dob</th> -->
            <th>Contact</th>
            <th>Address</th>
            <th>role</th>
            <th>Status</th>
            
          <!--   <th>BLOCK</th> -->
        </tr>
        </thead>
        <tbody>
        <tr *ngFor = "let user of users">
           
                    <td>{{user.userid}}</td>
                    <td>{{user.name}}</td>
                    <td>{{user.email}}</td>
                    <!-- <td>{{user.password}}</td> -->
                    <!-- <td>{{user.dob}}</td> -->
                    <td>{{user.contact}}</td>
                    <td>{{user.address}}</td>
                    <td>{{user.role}}</td>
                    <td>{{user.status}}</td>
           
            <!-- <td><form><input type="submit" value="block"></form></td> -->
        </tr>
        </tbody>
        </table>
        </ul>



    </div>
    </div>
</div>

