.custom-shape-divider-bottom-1625459757 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1625459757 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 166px;
}

.custom-shape-divider-bottom-1625459757 .shape-fill {
    fill: #008080;
}

button {
border-radius: 20px;
border: 1px solid #008080;
background-color: #008080;
color: #FFFFFF;
font-size: 12px;
font-weight: bold;
padding: 12px 45px;
letter-spacing: 1px;
text-transform: uppercase;
transition: transform 80ms ease-in;
}

button:active {
transform: scale(0.95);
}

button:focus {
outline: none;
}