<div class="container" id="container" style="padding-top: 100px;">
    <div class="jumbotron">
    <div class="well well-sm" id="pagename">
    <h2 style="color: white;">Learner's Home</h2>
    </div><br><br>
    <div class="container">
        <div class="row">
          <div class="col-md-4" style="padding-top: 10px;">
            <br><br>
              <a href="#" target="_blank">
                <img src="assets/L_profile.svg" style="width:90%">
                <div class="caption">
                </div>
              </a><br><br><br>
              <h3>Profile </h3><h5>Edit your information, have a look on the Availed Services and Subscribe to us.</h5>
              <a href="learnerprofile" class="btn btn-custom" role="button" routerLink="/l_layout/learner_profile">View Profile</a>
          </div>
          <div class="col-md-4">
            <a href="#" target="_blank">
              <img src="assets/L_purchase.svg" style="width:90%;padding-left: 30px;">
              <div class="caption">
              </div>
            </a><br><br>
            <h3>Purchase </h3><h5>Track Your Purchase in a detailed way!!</h5><br>
            <a href="l_history" class="btn btn-custom" role="button" routerLink="/l_layout/learner_history">Purchase</a>
        </div><br>
        <div class="col-md-4">
            <a href="#" target="_blank">
              <img src="assets/L_onlineservice.svg" style="width:90%">
              <div class="caption">
              </div>
            </a><br><br>
            <h3>Online Services </h3><h5>Get benefited by the premium courses available at an optimum range.</h5>
            <a href="l_onlineservicespage" class="btn btn-custom" role="button" routerLink="/l_layout/learner_onlineservicespage" >Services</a>
        </div>
          </div>
        </div>
      </div>
    </div>