<div class="container" id="container" style="padding-top: 100px;">

    <div class="jumbotron">

    <div class="well well-sm" id="pagename">


    <h2 style="color: white;">Admin's Home</h2>

 

    </div><br><br>


    <div class="container">
        <div class="row">
          <div class="col-md-4">
            <br><br>
              <a href="#" target="_blank">
                <img src="assets/Edit_profile.svg" style="width:80%">
                <div class="caption">
                </div>
              </a><br><br><br>
              <p>User List <br><small>See the list of all the existing users Click the buton below.
              </small></p>
              <a href="admin_search" routerLink="/a_layout/admin_user_list" class="btn btn-custom" role="button">Search User</a>
          </div>


          <div class="col-md-4"> <br><br><br>
            <a href="#" target="_blank">
              <img src="assets/Profile_data_re_v81r.svg" style="width:80%">
              <div class="caption">
              </div>
            </a><br><br><br><br>
            <p>Manage User <br><small>Making Someone a part off E-Learning Click the button below.
            </small></p>
            <a href="admin_add_user" routerLink="/a_layout/admin_add_user" class="btn btn-custom" role="button">Manage User</a>
        </div><br>



        <div class="col-md-4">
            <a href="#" target="_blank">
              <img src="assets/Change_Status.svg" style="width:80%">
              <div class="caption">
              </div>
            </a><br><br><br><br><br>
            <p>Act as Vendor<br><small>Switching role between Admin and Vendor.
            </small></p>
            <a href="a_vendor_home" routerLink="/a_layout/a_vendor_home" class="btn btn-custom" role="button">Change Role</a>
        </div>
          </div>
        </div>
      </div>
    </div>