<div class="container" id="container" style="padding-top: 100px;">

    <div class="jumbotron">

    <div class="well well-sm" id="pagename">


    <h2 style="color: white;">Add New User</h2>

 

    </div><br>


    <div class="container">
        <div class="row">
          <div class="col-md-6">
            <br><br>
              <a href="#" target="_blank">
                <img src="assets/UpdateUser.svg" style="width:80%">
                <div class="caption">
                </div>
              </a><br><br><br><br><br>
              <p>Update User <br><small>Update any existing user details, click the button below.
              </small></p>
              <a href="admin_update_user"  routerLink="/a_layout/admin_update_user" class="btn btn-custom" role="button">Update User</a>
          </div>


          <div class="col-md-6"><br><br><br>
            <a href="#" target="_blank">
              <img src="assets/AddUser.svg" style="width:80%;padding-left: 30px;">
              <div class="caption">
              </div>
            </a><br><br><br>
            <p>Add New User <br><small>Making Someone a part off E-Learning Click the button below.
            </small></p>
            <a  routerLink="/a_layout/admin_addnew_user"  class="btn btn-custom" role="button">Add User</a>
        </div><br>            
          </div>
        </div>
      </div>
    </div>
    <!-- <router-outlet></router-outlet> -->