<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<body>
<div class="container" id="container" style="padding-top: 150px; ">
    <div class="jumbotron">
    <div class="well well-sm" id="pagename">
    <h2 style="color: white; text-align: center;"><span class="glyphicon glyphicon-education"></span> E-Learning </h2>
    <h5 style="color: white; text-align: center;">Build your future with us!</h5>
    </div>
    <div class="container">
        <div class="row" style=" margin-left: 5%;">
          <h4 style="color: #008080; text-align: center; margin-right: 5%;">Select your Appropriate Role below, and Get Started!</h4>
         <br>
          <div class="col-md-4" >
            <br><br>
              <a href="#" target="_blank">
                <img src="assets/admin.svg" style="width:86%; ">
                <div class="caption">
                </div>
            </a><br>
            <h2 style="text-align: center; margin-right: 30%;"> Admin </h2>
              <a href="a_login"  routerLink="/a_login" class="btn btn-custom" role="button" style= "margin-left: 18%;">Click Here!</a>
          </div>
          <div class="col-md-4" style="align-items: center;">
            <a href="#" target="_blank">
              <img src="assets/vendor.svg" style="width:87%;">
              <div class="caption">
              </div>
            </a><br>
            <h2 style="text-align: center;margin-right: 20%;">Vendor</h2>
            <a href="v_login"  routerLink="/v_login" class="btn btn-custom" role="button" style="  margin-left: 24%;">Click Here!</a>
        </div><br>
        <div class="col-md-4" style="align-items: center;">
            <a href="#" target="_blank">
              <img src="assets/learner.svg" style="width:84%; padding-top: 5%; padding-left: 5%;">
              <div class="caption">
              </div>
            </a><br>
            <h2 style="text-align: center;">Learner</h2>
            <a href="l_login"  routerLink="/l_login" class="btn btn-custom" role="button" style="  margin-left: 33%;">Click Here!</a>
        </div>
          </div>
        </div>
      </div>
    </div>
  </body>