<div class="container" id="container" style="padding-top: 100px;">
    <div class="jumbotron">
        <div class="well well-sm" id="pagename">
            <h2 style="color: white;">Subscribe</h2>
            </div>
        <div class="row">
            <div class="col-md-6">
                <a href="#" target="_blank">
                  <img src="assets/L_subscribe.svg" style="width:80%">
                  <div class="caption" >
                  </div>
                   </a><br>
            </div>

                   <div class="col-md-6"><br><br><br>
                <p><small>You are just one click away to get connected with us! <br>Just hit the below button and get every update for your learnings!!
                </small></p>
                <a class="btn btn-custom" role="button" (click)="subscribe()">Subscribe</a>
            </div>
            
        </div>
</div>
</div>