<div class="container" id="container" style="padding-top: 100px;">
    <div class="jumbotron">

      <div class="well well-sm" id="pagename">
        <h2 style="color: white;">Online Services</h2>
        </div>
    <!-- <h2>Online Services</h2> -->
   <br><br>
    <div class="container">
        <div class="row">
          <div class="col-md-4"><br><br>
              <a href="#" target="_blank">
                <img src="assets/L_listoforder.svg" style="width:50%">
                <div class="caption">
                </div>
              </a><br><br><br><br>
              <p><b>List of all Services</b><br><small>
              </small></p>
              <a href="L_listofserviceswithlink" class="btn btn-custom" role="button" routerLink="/l_layout/learner_listof_services">List</a>
          </div>
          
         <div class="col-md-4">
          <a href="#" target="_blank">
            <img src="assets/L_shownewcourses.svg" style="width:50%">
            <div class="caption">
            </div>
          </a><br><br>
          <p><b>Show new courses </b> <br><small>
          </small></p>
          <a href="Learner_shownewcourses" class="btn btn-custom" role="button" routerLink="/l_layout/learner_show_newcourses">Show</a>
        </div>
        <div class="col-md-4"><br><br>
          <a href="#" target="_blank">
            <img src="assets/writeReview.svg" style="width:50%">
            <div class="caption">
            </div>
          </a><br><br><br><br>
          <p><b>Write Review</b><br><small>
          </small></p>
          <a class="btn btn-custom" role="button" routerLink="/l_layout/learner_list_review">Write</a>
      </div>
    </div>
    </div>
</div>
</div>