<div class="container" id="container" style="padding-top: 100px;">
    <div class="jumbotron">
        <div class="well well-sm" id="pagename">
            <h2 style="color: white;">Learner's Profile</h2>
            </div>
        <div class="row">
            <div class="col-md-3" style="padding-top: 10px;">
                <a href="#" target="_blank">
                  <img src="assets\LP_editprofile.svg" style="width:100%">
                  <div class="caption">
                  </div>
                </a><br>
                <h3>Edit Profile </h3><h5>Manage your Profile and stay updated!!</h5>
                <a href="learner_editprofile" class="btn btn-custom" role="button" routerLink="/l_layout/learner_editprofile">Edit Profile</a>
            </div>
            <div class="col-md-3" style="padding-top: 10px;">
                <a href="#" target="_blank">
                  <img src="assets\LP_subscription.svg" style="width:110%">
                  <div class="caption">
                  </div>
                </a><br>
                <h3>Subscription </h3><h5>To stay connected with us and also get every update regarding new learnings. Do subscribe.</h5>
                <a href="learner_subscription" class="btn btn-custom" role="button" routerLink="/l_layout/learner_subscription">Subscription</a>
            </div>
            <div class="col-md-3">
                <a href="#" target="_blank">
                  <img src="assets\LP_profile_active_deactive.svg" style="width:80%">
                  <div class="caption">
                  </div>
                </a><br>
                <h3>Change Status </h3><h5>Do you want to take a break? <br>Here you are..! Activate and deactivate account.</h5>
                <a href="learner_changestatus" class="btn btn-custom" role="button" routerLink="/l_layout/learner_changestatus">Change Status</a>
            </div>
            <div class="col-md-3"style="padding-top: 10px;">
                <a href="#" target="_blank">
                  <img src="assets\LP_profile_availedservices.svg" style="width:80%">
                  <div class="caption">
                  </div>
                </a><br>
                <h3>Availed Services</h3><h5>Get in touch with services we are providing. Learning and resource paths.</h5>
                <a href="learner_availedservices" class="btn btn-custom" role="button" routerLink="/l_layout/learner_availedservices">Availed Services</a>
            </div>
        </div>
  </div>
  </div>