<div class="container" id="container" style="padding-top: 70px;">
  <div class="jumbotron" style="width: 95%;">
      <br><br>
<div class="text-box">
  <h3 class="heading-primary">
      <span class="heading-primary-main">Meet The Team</span>
      <span class="heading-primary-sub">We help you to build the bright future</span>
  </h3>
  
</div>
</div></div><br><br>


<div class="container" >
<div class="gallery">

  <img src="/assets/girl_vector.jpg" alt="Cinque Terre" width="100px" height="400px">

<h2>Avani<br>Maheshwari</h2>
<div class="desc">Programmer Analyst Trainee</div>
</div>

<div class="gallery">

  <img src="/assets/boy_vector.jpg" alt="Cinque Terre" width="100px" height="400px">

<h2>Shubhankar<br> Paul</h2>
<div class="desc">Programmer Analyst Trainee</div>
</div>

<div class="gallery">

<img src="/assets/girl_vector.jpg" alt="Cinque Terre" width="100px" height="400px">

<h2>Sandhya Choudhari</h2>
<div class="desc">Programmer Analyst Trainee</div>
</div>

<div class="gallery">

<img src="/assets/girl_vector.jpg" alt="Cinque Terre" width="100px" height="400px">

<h2>Kanishka<br> Mahure</h2>
<div class="desc">Programmer Analyst Trainee</div>
</div>

<div class="gallery">

<img src="/assets/boy_vector.jpg" alt="Cinque Terre" width="100px" height="400px">

<h2>Manish Deewangan</h2>
<div class="desc">Programmer Analyst Trainee</div>
</div>

<div class="gallery">

<img src="/assets/boy_vector.jpg" alt="Cinque Terre" width="100px" height="400px">

<h2>Aniket <br> LNU</h2>
<div class="desc">Programmer Analyst Trainee</div>
</div>

</div>