<nav class="navbar navbar-custom">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#"><span class="glyphicon glyphicon-education"></span><b> E-LEARNING</b></a>
      </div>
      
      <ul class="nav navbar-nav navbar-right">
        <li class="active"><a href="l_home" routerLink="/l_layout/learner_home"><span class="glyphicon glyphicon-home"></span> Home</a></li>
        <li><a href="about" routerLink="/l_layout/about_us"><span class="glyphicon glyphicon-heart"></span> About us</a></li>
        <li><a href="team" routerLink="/l_layout/our_team"><span class="glyphicon glyphicon-th-large"></span> Our Team</a></li>
        <li><a  routerLink="/l_layout/learner_search" ><span class="glyphicon glyphicon-user"></span> Search</a></li>
        <li><a (click)="termination()"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
      </ul>
    </div>
</nav>