<div class="container" id="container" style="padding-top: 100px;">
    <div class="jumbotron">
      <div class="well well-sm" id="pagename">
        <h2 style="color: white;">List of all Purchased Orders </h2>
        </div>
        <!-- <h2>List of all Purchased Orders </h2><br><br> -->
        <!-- <h4> 
            Learner ID: {{id}}
        </h4> -->
        <br><br>
        <table class="table table-striped">
            <thead>
              <tr>
                <th>Purchase Id</th>
                <th>Vendor Name</th>
                <th>Service</th>
                <th>Course Name</th>
                <th>Course Id</th>
                <th>Status</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor = "let user of purchase">
           
                <td>{{user.purchaseid}}</td>
                <td>{{user.vendorname}}</td>
                <td>{{user.service}}</td>
                <td>{{user.coursename}}</td>
                <td>{{user.courseid}}</td>
                <td>{{user.status}}</td>                      
           </tr>   
            </tbody>
          </table>
    </div>
</div>